* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* ===== GERAL ===== */
html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

p {
  font-weight: 300;
  color: #111;
  line-height: 1.6;
  font-size: 1rem;
}

.main, .home, .sobre, .content-wrapper {
  padding-top: 80px;
}

section {
  width: 100%;
  box-sizing: border-box;
}

h2 {
  font-size: 35px;
}

/* ===== HEADER ===== */
.header-main {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  transition: 0.5s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.header-main.sticky {
  background: #fff;
  padding: 8px 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header-logo {
  color: #333;
  font-size: 2rem;
}

.header-logo span {
  color: #007BFF;
  font-size: 1.8rem;
}

/* Menu Mobile */
#toggle {
  display: none;
}

.menu-label {
  color: #000;
  cursor: pointer;
  margin: 0 30px 0 0;
  position: absolute;
  right: 20px;
  display: none;
  font-size: 1.2rem;  
}

.header-menu {
  width: 70%;
  justify-content: center;
  z-index: 5;
  display: flex;
}

.header-menu li {
  list-style: none;
  margin-left: 20px;
  display: inline;
  justify-content: space-between;
  align-items: center;
}

.header-menu li a {
  text-decoration: none;
  padding: 15px 10px;
  color: #000;
}

.header-main .header-menu li a:hover {
  color: #007BFF;
}

.header-btn {
  right: 0;
}

.header-btn a {
  background: #007BFF;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
}

/* ===== HOME ===== */
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/b1_new.jpg');
  background-size: cover;
  background-position: center;
}

.home-container {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 900px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

.home-container h2 {
  font-size: 2.5rem;
  color: #007BFF;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: bold;
  -webkit-text-stroke: 1px #2be8fd71;
}

.home-container p {
  font-size: 1rem;
  color: #111;
  margin-bottom: 1rem;
  line-height: 1.3;
}

/* ===== SEÇÕES DE CARDS ===== */
.especialidades,
.laudos,
.terapias,
.orientacao {
  padding-top: 50px;
}

.section-titulo {
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 8px;
}

.card {
  width: 100%;
  max-width: 400px;
  background: #fff;
}

.card-img {
  width: 100%;
  height: 250px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-texto {
  padding: 20px;
}

/* ===== SOBRE ===== */
.sobre {
  padding-top: 110px;
  
}

.sobre-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 10px;
  
}

.sobre-texto,
.sobre-imagem {
  width: 100%;
}

.sobre-imagem-container {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.sobre-imagem-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sobre-endereco-main {
  margin-top: 20px;
}

.sobre-localizacao {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.responsive-map {
  width: 100%;
  height: 300px;
  border: 0;
  display: block;
}

.footer-main {
  background-color: #007BFF;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 10px auto;
  padding: 5px 100px;
}

.footer-footer-main-item {
  flex: 1;
  min-width: 120px;
  justify-content: center;
  display: flex;
}

.footer-footer-main-item a {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.footer-footer-main-item h3 {
  margin: 0;
  font-size: 15px;
}

.footer-legal {
  color: #333;
  font-size: 0.875rem;
  text-align: center;
  padding: 16px 16px 24px;
}
.footer-legal-list li {
  list-style: none;
  padding-left: 0;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-height: 650px) and (min-width: 1024px) {
  .header-main {
    padding: 10px 30px;
    flex-wrap: nowrap;
  }

  .header-main.sticky {
    padding: 12px 50px;
  }

  .header-menu li a {
    padding: 8px 6px;
    font-size: 0.9rem;
  }

  .header-logo {
    font-size: 1.5rem;
  }

  .header-btn a {
    padding: 6px 15px;
    font-size: 0.85rem;
  }
}

@media (max-width: 966px) {
  /* Menu Mobile */
  .header-main {
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  #toggle {
    content: '\2262';
  }

  #toggle:checked+.header-menu ul li {
    display: block;
  }

  .menu-label {
    display: block;
  }

  .header-menu {
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: #fff;
  }


  .header-menu.active {
    width: 100%;
    position: relative;
    top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .header-menu ul li {
    display: block;
    margin: 10px 0;
  }

  .header-btn {
    display: none;
  }

  /* Ajustes Gerais */
  .home-container h2 {
    font-size: 2rem;
  }

  .card {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .menu-label {
    display: block;
  }

  .header-menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .header-menu.active {
    display: flex;
  }

  .header-menu ul {
    flex-direction: column;
    gap: 10px;
  }

  .header-menu li {
    margin: 10px 0;
  }
}

@media (min-width: 768px) {
  /* Menu tablet */
  section {
    padding: 100px 50px;
  }

  .header-main {
    padding: 15px 40px;
  }

  .home-container h2 {
    font-size: 3.5rem;
  }

  .card {
    width: calc(50% - 20px);
  }

  .sobre-container {
    flex-direction: row;
    gap: 40px;
  }

  .sobre-texto,
  .sobre-imagem {
    width: 35%;
  }

  .social-buttons {
    flex-direction: row;
    justify-content: center;
  }

}

@media (min-width: 1024px) {
  /* Menu desktop */
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;  
  }

  section {
    padding: 120px 100px;
  }

  .card {
    width: calc(33.33% - 20px);
  }

  .home-container h2 {
    font-size: 4.5rem;
  }

  .sobre-imagem-container {
    height: 400px;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

}

@media (min-width: 1200px) {
  /* Menu tela grande */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* ===== COMPONENTES REUTILIZÁVEIS ===== */
.btn {
  display: inline-block;
  background: #007BFF;
  color: #fff;
  padding: 12px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #0056b3;
}


/* ===== AJUSTES ESPECÍFICOS ===== */
.terapias-card,
.orientacao-card {
  max-width: 450px;
}

.sobre-titulo {
  font-size: 2.5rem;
}

